*{
	font-family: sans-serif, monospace;
	font-size: 20px;
}
#FirstHeader{
	color: yellow;
	font-size: 25px;
}
h1{
	font-size: 80px;
}
#header2{
	text-transform: uppercase;
	font-size: 25px;
}
.listitems1{
	background-color: lightgreen;
}
li[name="a"]{
	border-style: solid;
	border-color: slategray;
}
h2+ul{
	list-style-type: none;	
}
h2 img{
	width: 150px;
	height: 300;
	border-radius: 150px;
}
ul>li{
	letter-spacing: 10px;
}
ul~p{
	text-align: center;
}
